body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

.logs {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

#pesan {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    top: -100px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    text-align: center;
}